<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>安全的聊天室</title>
<link rel="icon" th:href="@{/img/chat.ico}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" th:href="@{/css/chatroom.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/common/layui.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/common/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/common/fileinput.min.css}">
</head>
<!--<body style="background: #f7f2e8">-->
<body>
<div class="total">
    <div class="qqBox">
        <div class="BoxHead">
            <div class="headImg">
                <img id="avatarUrl" src=""/>
            </div>
            <div id="username" class="internetName"></div>
        </div>
        <div class="context">
            <div class="conLeft">
                <ul>

                </ul>
            </div>
            <div class="conRight">
                <div class="Righthead">
                    <div class="headName"></div>
                </div>
                <div class="RightCont">
                    <ul class="newsList-temp"></ul>
                    <ul class="newsList">

                    </ul>
                </div>
                <div class="RightFoot">
                    <div class="emjon">
                        <ul>
                            <li><img th:src="@{/img/emoji/emoji_01.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_02.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_03.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_04.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_05.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_06.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_07.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_08.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_09.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_10.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_11.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_12.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_13.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_14.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_15.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_16.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_17.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_18.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_19.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_20.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_21.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_22.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_23.png}"></li>
                            <li><img th:src="@{/img/emoji/emoji_24.png}"></li>
                        </ul>
                    </div>
                    <div class="footTop">
                        <ul>
                            <li class="ExP">
                                <img th:src="@{/img/emoji.jpg}">
                            </li>
                        </ul>
                    </div>
                    <div class="inputBox">
                        <input id="toUserId" type="hidden">
                        <input id="toGroupId" type="hidden">
                        <textarea id="dope" style="width: 99%;height: 75px; border: none;outline: none;" name="" rows="" cols=""></textarea>
                        <button title="按下回车可发送" class="sendBtn">发送</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <form class="form-inline">
                            <div class="form-group">
            <!--                    <label for="exampleInputName2">Name</label>-->
            <input type="text" class="form-control" id="friendUsername" placeholder="username">
                            </div>
            <button type="submit" class="btn btn-default" onclick="addFriend()">添加好友</button><br>
            <button type="submit" class="btn btn-default" onclick="logout()">退出登录</button>
        </form>
    </div>
</div>


<script type="text/javascript" th:src="@{/js/common/jquery-1.9.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common/jquery.actual.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common/fileinput.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common/zh.js}"></script>
<script type="text/javascript" th:src="@{/js/chatroom.js}"></script>
<script type="text/javascript">
    var userId;
    var socket;   
    var sentMessageMap;
    
    setUserInfo();
    // setSentMessageMap();

    if(!window.WebSocket){  
        window.WebSocket = window.MozWebSocket;
    }  
    if(window.WebSocket){  
        socket = new WebSocket("ws://localhost:3333");
        console.log("window.WebSocket");
        socket.onmessage = function(event){
            console.log("socket.onmessage");
            var json = JSON.parse(event.data);
            console.log(json.toString());
            if (json.status == 200) {
                var type = json.data.type;
                console.log("收到一条新信息，类型为：" + type);
                switch(type) {
                    case "REGISTER":
                        ws.registerReceive();
                        break;
                    case "SINGLE_SENDING":
                        ws.singleReceive(json.data);
                        break;
                    case "GROUP_SENDING":   
                        ws.groupReceive(json.data);
                        break;
                    case "FILE_MSG_SINGLE_SENDING":
                        ws.fileMsgSingleRecieve(json.data);
                        break;
                    case "FILE_MSG_GROUP_SENDING":
                        ws.fileMsgGroupRecieve(json.data);
                        break;
                    default:
                        console.log("不正确的类型！");
                }
            } else {
                // alert(json.msg);
                console.log(json.msg);
            }
        };  
     
        // 连接成功1秒后，将用户信息注册到服务器在线用户表
        socket.onopen = setTimeout(function(event){ 
              console.log("WebSocket已成功连接！");  
              ws.register();

        }, 1000);

        setInterval(function (event) {
            ws.keepalive();
        },300000);
        socket.onclose = function(event){  
              console.log("WebSocket已关闭...");  
        };  
    } else {  
          alert("您的浏览器不支持WebSocket！");  
    }
    
</script>


</body>
</html>
